@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-in {
        animation-name: enter;
        animation-duration: 150ms;
        --tw-enter-opacity: initial;
        --tw-enter-scale: initial;
        --tw-enter-rotate: initial;
        --tw-enter-translate-x: initial;
        --tw-enter-translate-y: initial;
    }
}